<div class="container">
  <h1 class="page-header">Reminders</h1>

<ul class="list-group">
  <% reminders.forEach(function (reminderItem) { %>
    <li class="list-group-item">
      <strong><%= reminderItem.title %>: </strong>
      <%= reminderItem.description %>
      <% if (typeof(reminderItem.dueDate) !== 'undefined') { %>
        || Due: <%= reminderItem.dueDate %>
      <% } %>
      || Completed:
      <% if (reminderItem.completed == true) { %>
        <span class="badge badge-success">True</span>
      <% } else if (reminderItem.completed == false) { %>
        <span class="badge badge-danger">False</span>
      <% } %>
      <% if (typeof(reminderItem.tags) !== 'undefined') { %>
        ||
        <% reminderItem.tags.forEach(tag => { %>
          <span class="bg-info text-light"><%= tag %></span>
        <% }); %>
      <% } %>
      <% if (typeof(reminderItem.subTasks) !== 'undefined') { %>
        || 
          <span><%= reminderItem.subTasks.length %> subtasks</span>
      <% } %>
      <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
    </li>
  <% }) %>
</ul>
</div>

<% if (typeof(friendsRemindersList) !== 'undefined') { %>
  <% friendsRemindersList.forEach((fr) => { %>
  <div class="container">
  <h2 class="page-header"><%= fr.user.uname %>'s Reminders</h2>

  <ul class="list-group">
    <% fr.reminders.forEach(function (reminderItem) { %>
      <li class="list-group-item">
        <strong><%= reminderItem.title %>: </strong>
        <%= reminderItem.description %>
        <% if (typeof(reminderItem.dueDate) !== 'undefined') { %>
          || Due: <%= reminderItem.dueDate %>
        <% } %>
        || Completed:
        <% if (reminderItem.completed == true) { %>
          <span class="badge badge-success">True</span>
        <% } else if (reminderItem.completed == false) { %>
          <span class="badge badge-danger">False</span>
        <% } %>
      </li>
    <% }) %>
  </ul>

  <% }); %>
  </div>
<% } %>

