<div class="container">
  <h1 class="page-header">Reminders</h1>

    <ul class="list-group">
      <li class="list-group-item">
        <h3><strong><%= reminderItem.title %>: </strong></h3>
        <h4><%= reminderItem.description %></h4>
        <% if (typeof(reminderItem.dueDate) !== 'undefined') { %>
          <h4>Due: <%= reminderItem.dueDate %> </h4>
        <% } %>
        <h4>Completed:
          <% if (reminderItem.completed == true) { %>
            <span class="label label-success">True</span>
          <% } else if (reminderItem.completed == false) { %>
            <span class="label label-danger">False</span>
          <% } %>
        </h4>
        <% if (typeof(reminderItem.tags) !== 'undefined') { %>
          <h4>Tags:
          <% reminderItem.tags.forEach(tag => { %>
            <span class="bg-info text-light"><%= tag %></span>
          <% }); %>
          </h4>
        <% } %>
        <% if (typeof(reminderItem.subTasks) !== 'undefined') { %>
          <h4><span><%= reminderItem.subTasks.length %> subtasks</span></h4>
        <% } else { %>
          <h4><span>No subtask</span></h4>
        <% } %>
        <% if (typeof(reminderItem.subTasks) !== 'undefined') { %>
            <ul>
            <% reminderItem.subTasks.forEach(task => { %>
              <li>
              <span><%= task %></span>
              </li>
            <% }); %>
            </ul>
        <% } %>

        <a class="btn btn-warning" href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>

        <form class="deleteForm "method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </li>
    </ul>

</div>
